@charset "UTF-8";

@media only screen and (max-width: 600px) {

  div.top-bar {
    height: 60px !important;
    text-align: center;

  }

  a {
  }

  div.top-bar li {
    font-size: 20px !important;
    font-size: 16px !important;
    text-align: center;
  }

  li.right {
    float: right;
    width: 30%;
  }

  div.userInputBox {
    height: 200px !important;
  }

  div.userInputBox.one {
    height: 270px !important;
  }

  div.userInputBox.two  {
    height: 200px !important;
  }

  div.button-group {
    width: 100% !important;
    height: 90px !important;
  }

  div.rock {
    height: 138px !important;

  }

  div.paper{
    height: 138px !important;

  }

  div.scissors{
    height: 138px !important;

  }

  .panel > :last-child {
    margin-bottom: 30px;
  }

  button.button {
    margin-bottom: 40px !important;
    width: 140px !important;
    height: 50px !important;
    font-size: 15px !important;

  }

  /* friend game */

  h3.playerOne {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;

  }

  h3.playerTwo {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  button.friendGame {
    margin-bottom: 10px !important;
  }

}
